In [1]:
import MODIS
import numpy as np
import matplotlib.pyplot as plt
import os
from pyhdf.SD import *
import pandas as pd
import datetime as dt

In [2]:
default_data_folder = os.path.expanduser("~/dados-ic/MODIS_Aqua")

In [3]:
filepaths = MODIS.get_modis_filepaths(default_data_folder)

In [13]:
a = MODIS.read_modis_datasets(filepaths[0], delta_list=[0.25, 0.5, 1])

In [14]:
b = MODIS.post_process(a)

/usr/local/lib/python3.5/dist-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.5/dist-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/danilo/atmosphere-br/danlessa/src/MODIS.py:233: RuntimeWarning: Mean of empty slice
  t = np.nanmean(datadict["Time"])

In [15]:
outputs = []
outputs.append(b)
flat_output = [item for sublist in outputs for item in sublist]
output_data = pd.DataFrame(flat_output)
output_data = output_data.sort_values(by=["Time"])

In [16]:
output_data

   Cloud_Fraction  Count  Delta  Solar_Zenith  Time
0             NaN      0   1.00           NaN   NaN
1             NaN      0   0.50           NaN   NaN
2             NaN      0   0.25           NaN   NaN